################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeHollow.Samples.AzureActiveDirectoryGroups/CodeHollow.Samples.AzureActiveDirectoryGroups/bin/Debug
/CodeHollow.Samples.AzureActiveDirectoryGroups/CodeHollow.Samples.AzureActiveDirectoryGroups/obj/Debug
